@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker:100,200,300,400,500,600,700;|Exo:100,200,300,400,500,600,700');

/*=================================================colors*/

.bg-color-name-title{
    background-color: #ffffff;
}

/*=================================================headings*/
header{
    margin:0;
}
.heading{
    margin: 70px;
}


.logo{
    background:url("../images/galwaycrest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: min;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    }

    .name{
        font-family: 'Permanent Marker', cursive;
        font-weight: 500;
        font-size: 100px;
        color:rgb(128,0,0);
        margin-top: 50px;
        text-align: left;
    }

    .title
    {
        font-family: 'exo', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color:#800000;
        margin-top: 20px;
    }

    .social-networks{
        text-align: center;
        margin-top: 160px;
        }
        
    .social-networks li{
        display: inline;
    }

    .social-networks i{
        font-size: 50px;
        padding: 3%;
        color: #800000;
        left: 0;
        
    }

background:url("../images/buster.jpg");

background:url("../images/galwayteam2019.jpg");

background:url("../images/galwayteam2020.jpg");